<h1 class="header-title">Array de imágenes aleatorias</h1>
<div class="inputs-container">
  <input id="id-filter" [(ngModel)]="idFilter" type="number" placeholder="ID">
  <input id="text-filter" [(ngModel)]="textFilter" type="text" placeholder="Texto">
  <button (click)="applyFilters()">Filtrar</button>
  <button (click)="removeFilters()">Borrar</button>
</div>

<div class="container-center">
  <p>Elementos totales: {{filteredImages.length}}</p>
</div>

<div class="list">
  <div *ngFor="let image of filteredImages" class="list-item">
    <div class="image-container">
      <img [src]="image.photo" alt="Imagen {{ image.id }}">
    </div>
    <div class="text-container">
      <div class="title">{{ image.text }}</div>
    </div>
  </div>
  <router-outlet></router-outlet>